## Aggregation and Grouping

This notebook covers the essentials of aggregation and grouping in pandas. We are using the planets dataset from seaborn library. Takeaways from this notebook:

1. How to summarize large data by computing aggregations like sum(), mean(), median(), etc.
2. How to group data and apply aggregate functions on groups.
3. How to filter data based on group characteristics.

In [2]:
##loading penguins data from seaborn package
import seaborn as sns

penguin_df = sns.load_dataset('penguins')

##check first few rows
penguin_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### Aggregate functions for a dataframe

In [3]:
##the aggregate functions like sum(), mean(), etc. return reseults within each column
penguin_df.mean()

<ipython-input-3-4dab2809b3f3>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  penguin_df.mean()

bill_length_mm         43.921930
bill_depth_mm          17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
dtype: float64

In [4]:
###describe() - pandas convenience method to compute common aggregates

penguin_df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

### GroupBy

In [5]:
##grouping penguins by species
penguin_df.groupby(by='species')

In [6]:
##selecting the body_mass_g series group from the original dataframe 
penguin_df.groupby(by='species')['body_mass_g']

In [7]:
##calling the aggregate function to compute the statistic
penguin_df.groupby(by='species')['body_mass_g'].mean()

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64

In [8]:
##iterating over a groupby object
for (specie, group) in penguin_df.groupby('species'):
            print("{0:30s} shape={1}".format(specie, group.shape))

Adelie                         shape=(152, 7)
Chinstrap                      shape=(68, 7)
Gentoo                         shape=(124, 7)

In [9]:
##computing summary statistics on groups
penguin_df.groupby('species')['body_mass_g'].describe()

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
Adelie,151.0,3700.662252,458.566126,2850.0,3350.0,3700.0,4000.0,4775.0
Chinstrap,68.0,3733.088235,384.335081,2700.0,3487.5,3700.0,3950.0,4800.0
Gentoo,123.0,5076.016260,504.116237,3950.0,4700.0,5000.0,5500.0,6300.0

In [10]:
##computing different aggregates on different columns using aggregate() method
penguin_df.groupby('species').aggregate({
    'body_mass_g' : 'mean',
    'flipper_length_mm' : 'median'
    
})

           body_mass_g  flipper_length_mm
species
Adelie     3700.662252              190.0
Chinstrap  3733.088235              196.0
Gentoo     5076.016260              216.0

### Adding filters on groups

In [11]:
##printing body_mass average for each specie
print(penguin_df.groupby('species')['body_mass_g'].mean())

##filtering species with average body mass greater than 3710
print(penguin_df.groupby('species').filter(lambda x: x['body_mass_g'].mean() > 3710))

species
Adelie       3700.662252
Chinstrap    3733.088235
Gentoo       5076.016260
Name: body_mass_g, dtype: float64
       species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
152  Chinstrap   Dream            46.5           17.9              192.0
153  Chinstrap   Dream            50.0           19.5              196.0
154  Chinstrap   Dream            51.3           19.2              193.0
155  Chinstrap   Dream            45.4           18.7              188.0
156  Chinstrap   Dream            52.7           19.8              197.0
..         ...     ...             ...            ...                ...
339     Gentoo  Biscoe             NaN            NaN                NaN
340     Gentoo  Biscoe            46.8           14.3              215.0
341     Gentoo  Biscoe            50.4           15.7              222.0
342     Gentoo  Biscoe            45.2           14.8              212.0
343     Gentoo  Biscoe            49.9           16.1              213.0

     body_mass_g     sex
152       3500.0  Female
153       3900.0    Male
154       3650.0    Male
155       3525.0  Female
156       3725.0    Male
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[192 rows x 7 columns]